### 2.   Load and Explore Dataset

**[2.1]** Import the boto3, pandas and numpy packages

In [7]:
#Solution
import boto3
import pandas as pd
import numpy as np

**[2.2]** Create a function that will all files from a S3 bucket contains a string

In [8]:
def list_bucket_contents(bucket, match=''):
    s3_resource = boto3.resource('s3')
    bucket_resource = s3_resource.Bucket(bucket)
    for key in bucket_resource.objects.all():
        if match in key.key:
            print(key.key)

**[2.3]** Call the function you defined to list the file of the 'nyc-tlc' bucket that contains the string '2020'

In [9]:
#Solution
list_bucket_contents(bucket='nyc-tlc', match='2020')

trip data/fhv_tripdata_2020-01.csv
trip data/fhv_tripdata_2020-02.csv
trip data/fhv_tripdata_2020-03.csv
trip data/fhv_tripdata_2020-04.csv
trip data/fhv_tripdata_2020-05.csv
trip data/fhv_tripdata_2020-06.csv
trip data/fhv_tripdata_2020-07.csv
trip data/fhv_tripdata_2020-08.csv
trip data/fhv_tripdata_2020-09.csv
trip data/fhv_tripdata_2020-10.csv
trip data/fhv_tripdata_2020-11.csv
trip data/fhv_tripdata_2020-12.csv
trip data/fhvhv_tripdata_2020-01.csv
trip data/fhvhv_tripdata_2020-02.csv
trip data/fhvhv_tripdata_2020-03.csv
trip data/fhvhv_tripdata_2020-04.csv
trip data/fhvhv_tripdata_2020-05.csv
trip data/fhvhv_tripdata_2020-06.csv
trip data/fhvhv_tripdata_2020-07.csv
trip data/fhvhv_tripdata_2020-08.csv
trip data/fhvhv_tripdata_2020-09.csv
trip data/fhvhv_tripdata_2020-10.csv
trip data/fhvhv_tripdata_2020-11.csv
trip data/fhvhv_tripdata_2020-12.csv
trip data/green_tripdata_2020-01.csv
trip data/green_tripdata_2020-02.csv
trip data/green_tripdata_2020-03.csv
trip data/green_tripdata_2020-04.csv
trip data/green_tripdata_2020-05.csv
trip data/green_tripdata_2020-06.csv
trip data/green_tripdata_2020-07.csv
trip data/green_tripdata_2020-08.csv
trip data/green_tripdata_2020-09.csv
trip data/green_tripdata_2020-10.csv
trip data/green_tripdata_2020-11.csv
trip data/green_tripdata_2020-12.csv
trip data/yellow_tripdata_2020-01.csv
trip data/yellow_tripdata_2020-02.csv
trip data/yellow_tripdata_2020-03.csv
trip data/yellow_tripdata_2020-04.csv
trip data/yellow_tripdata_2020-05.csv
trip data/yellow_tripdata_2020-06.csv
trip data/yellow_tripdata_2020-07.csv
trip data/yellow_tripdata_2020-08.csv
trip data/yellow_tripdata_2020-09.csv
trip data/yellow_tripdata_2020-10.csv
trip data/yellow_tripdata_2020-11.csv
trip data/yellow_tripdata_2020-12.csv

**[2.4]** Load the file named `trip data/yellow_tripdata_2020-04.csv` into a dataframe called df. Specify `s3://` as prefix for the file url

In [10]:
#Solution:
df = pd.read_csv('s3://nyc-tlc/trip data/yellow_tripdata_2020-04.csv')

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

**[2.5]** Display the first 5 rows of df

In [11]:
# Solution
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2020-04-01 00:41:22,2020-04-01 01:01:53,1.0,1.20,1.0,N,41,24,2.0,5.5,0.5,0.5,0.00,0.0,0.3,6.80,0.0
1,1.0,2020-04-01 00:56:00,2020-04-01 01:09:25,1.0,3.40,1.0,N,95,197,1.0,12.5,0.5,0.5,2.75,0.0,0.3,16.55,0.0
2,1.0,2020-04-01 00:00:26,2020-04-01 00:09:25,1.0,2.80,1.0,N,237,137,1.0,10.0,3.0,0.5,1.00,0.0,0.3,14.80,2.5
3,1.0,2020-04-01 00:24:38,2020-04-01 00:34:38,0.0,2.60,1.0,N,68,142,1.0,10.0,3.0,0.5,1.00,0.0,0.3,14.80,2.5
4,2.0,2020-04-01 00:13:24,2020-04-01 00:18:26,1.0,1.44,1.0,Y,263,74,1.0,6.5,0.5,0.5,3.00,0.0,0.3,13.30,2.5

**[2.6]** Display the dimensions (shape) of df

In [12]:
# Solution
df.shape

(237993, 18)

**[2.7]** Display the summary (info) of df

In [13]:
# Solution
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237993 entries, 0 to 237992
Data columns (total 18 columns):
VendorID                 218480 non-null float64
tpep_pickup_datetime     237993 non-null object
tpep_dropoff_datetime    237993 non-null object
passenger_count          218480 non-null float64
trip_distance            237993 non-null float64
RatecodeID               218480 non-null float64
store_and_fwd_flag       218480 non-null object
PULocationID             237993 non-null int64
DOLocationID             237993 non-null int64
payment_type             218480 non-null float64
fare_amount              237993 non-null float64
extra                    237993 non-null float64
mta_tax                  237993 non-null float64
tip_amount               237993 non-null float64
tolls_amount             237993 non-null float64
improvement_surcharge    237993 non-null float64
total_amount             237993 non-null float64
congestion_surcharge     237993 non-null float64
dtypes: float64(13), int64(2), object(3)
memory usage: 32.7+ MB

**[2.8]** Display the descriptive statistics of df

In [14]:
# Solution
df.describe()

,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
count,218480.000000,218480.000000,237993.000000,218480.000000,237993.000000,237993.000000,218480.000000,237993.000000,237993.000000,237993.000000,237993.000000,237993.000000,237993.000000,237993.000000,237993.000000
mean,1.564949,1.296764,4.039981,1.034081,154.908422,150.361414,1.425673,11.666027,1.066739,0.487000,1.530229,0.220504,0.296331,16.408621,1.927536
std,0.495765,0.983595,294.879052,0.865044,70.749496,74.474108,0.555915,11.728767,1.260170,0.094993,2.295523,1.342351,0.045429,13.155858,1.072839
min,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,-118.000000,-4.500000,-0.500000,-5.000000,-19.870000,-0.300000,-138.170000,-2.500000
25%,1.000000,1.000000,0.950000,1.000000,97.000000,75.000000,1.000000,5.500000,0.000000,0.500000,0.000000,0.000000,0.300000,9.800000,2.500000
50%,2.000000,1.000000,1.740000,1.000000,143.000000,143.000000,1.000000,8.000000,0.500000,0.500000,1.000000,0.000000,0.300000,12.800000,2.500000
75%,2.000000,1.000000,3.400000,1.000000,234.000000,233.000000,2.000000,13.000000,2.500000,0.500000,2.460000,0.000000,0.300000,18.360000,2.500000
max,2.000000,7.000000,126501.770000,99.000000,265.000000,265.000000,4.000000,903.020000,7.000000,1.100000,117.280000,98.750000,0.300000,903.320000,2.500000

**[2.9]** Save the dataframe locally in the `data/raw` folder

In [15]:
# Solution
df.to_csv('../data/raw/yellow_tripdata_2020-04.csv')

### 3. Prepare Data

**[3.1]** Create a copy of df and save it into a variable called df_cleaned

In [16]:
# Solution
df_cleaned = df.copy()

**[3.2]** Launch magic commands to automatically reload modules

In [17]:
%load_ext autoreload
%autoreload 2

**[3.4]** Import your new function `convert_to_date` from `src.features.dates`

In [18]:
# Solution
from src.features.dates import convert_to_date

**[3.5]** Convert the column `tpep_pickup_datetime`, `tpep_dropoff_datetime` with your function `convert_to_date`

In [19]:
# Solution
df_cleaned = convert_to_date(df_cleaned, ['tpep_pickup_datetime', 'tpep_dropoff_datetime'])

**[3.6]** Create a new column `trip_duration` that will corresponds to the diuration of the trip in seconds (difference between `tpep_pickup_datetime` and `tpep_dropoff_datetime`)

In [20]:
# Solution
df_cleaned['trip_duration'] = (df_cleaned['tpep_dropoff_datetime'] - df_cleaned['tpep_pickup_datetime']).dt.total_seconds()

**[3.7]** Convert the `trip_duration` column into 5 different bins with [0, 300, 600, 1800, 300000]

In [21]:
df_cleaned['trip_duration'] = pd.cut(df_cleaned['trip_duration'], bins=[-1, 300, 600, 1800, 300000], labels=[0, 1, 2, 3])

**[3.8]** Extract the month component from `tpep_pickup_datetime` and save the results in the column `tpep_pickup_dayofmonth`

In [22]:
# Solution
df_cleaned['tpep_pickup_dayofmonth'] = df_cleaned['tpep_pickup_datetime'].dt.day

**[3.9]** Extract the hour component from `tpep_pickup_datetime` and save the results in the column `tpep_pickup_hourofday`

In [23]:
# Solution
df_cleaned['tpep_pickup_hourofday'] = df_cleaned['tpep_pickup_datetime'].dt.hour

**[3.10]** Extract the day of week component from `tpep_pickup_datetime` and save the results in the column `tpep_pickup_dayofweek`

In [24]:
# Solution
df_cleaned['tpep_pickup_dayofweek'] = df_cleaned['tpep_pickup_datetime'].dt.dayofweek

**[3.11]** Perform One-Hot encoding on the categorical features (`VendorID`, `RatecodeID`, `store_and_fwd_flag`)

In [25]:
# Solution
df_cleaned = pd.get_dummies(df_cleaned, columns=['VendorID', 'RatecodeID', 'store_and_fwd_flag'])

**[3.12]** Drop the columns `tpep_pickup_datetime`, `tpep_dropoff_datetime`, `PULocationID`, `DOLocationID`

In [26]:
# Solution
df_cleaned.drop(['tpep_pickup_datetime', 'tpep_dropoff_datetime', 'PULocationID', 'DOLocationID'], axis=1, inplace=True)

**[3.13]** Save the prepared dataframe in the `data/interim` folder

In [27]:
# Solution
df_cleaned.to_csv('../data/interim/yellow_tripdata_2020-04_prepared.csv')

### 4. Split Dataset

**[4.1]** In the file `src/data/sets.py` create a function called `pop_target` with the following logics:
- input parameters: dataframe (`df`), target column name (`target_col`), flag to convert to Numpy array which False by default (`to_numpy`)
- logics: extract the target variable from input dataframe, split the input dataframe into training, validation and testing sets from the specified ratio
- output parameters: features and target

In [28]:
# Solution
def pop_target(df, target_col, to_numpy=False):
    """Extract target variable from dataframe and convert to nympy arrays if required

    Parameters
    ----------
    df : pd.DataFrame
        Dataframe
    target_col : str
        Name of the target variable
    to_numpy : bool
        Flag stating to convert to numpy array or not

    Returns
    -------
    pd.DataFrame/Numpy array
        Subsetted Pandas dataframe containing all features
    pd.DataFrame/Numpy array
        Subsetted Pandas dataframe containing the target
    """

    df_copy = df.copy()
    target = df_copy.pop(target_col)
    
    if to_numpy:
        df_copy = df_copy.to_numpy()
        target = target.to_numpy()
    
    return df_copy, target

**[4.2]** In the file `src/data/sets.py` create a function called `split_sets_random` with the following logics:
- input parameters: dataframe (`df`), target column name (`target_col`), flag to convert to Numoy array (`to_numpy`)
- logics: extract the target variable from input dataframe and convert to Numpy araay if needed
- output parameters: training, validation and testing sets

In [ ]:
# Solution
def split_sets_random(df, target_col, test_ratio=0.2, to_numpy=False):
    """Split sets randomly

    Parameters
    ----------
    df : pd.DataFrame
        Input dataframe
    target_col : str
        Name of the target column
    test_ratio : float
        Ratio used for the validation and testing sets (default: 0.2)

    Returns
    -------
    Numpy Array
        Features for the training set
    Numpy Array
        Target for the training set
    Numpy Array
        Features for the validation set
    Numpy Array
        Target for the validation set
    Numpy Array
        Features for the testing set
    Numpy Array
        Target for the testing set
    """
    
    from sklearn.model_selection import train_test_split
    
    features, target = pop_target(df=df, target_col=target_col, to_numpy=to_numpy)
    
    X_data, X_test, y_data, y_test = train_test_split(features, target, test_size=test_ratio, random_state=8)
    
    val_ratio = test_ratio / (1 - test_ratio)
    X_train, X_val, y_train, y_val = train_test_split(X_data, y_data, test_size=val_ratio, random_state=8)

    return X_train, y_train, X_val, y_val, X_test, y_test

**[4.3]** Import your new function `split_sets_random` and split the data into several sets as Numpy arrays

In [29]:
# Solution
from src.data.sets import split_sets_random

X_train, y_train, X_val, y_val, X_test, y_test = split_sets_random(df_cleaned, target_col='trip_duration', test_ratio=0.2, to_numpy=True)

**[4.4]** Import save_sets from src.data.sets and save the sets into the folder `data/processed`

In [30]:
# Solution
from src.data.sets import save_sets

save_sets(X_train, y_train, X_val, y_val, X_test, y_test, path='../data/processed/')

### 5. Baseline Model

**[5.1]** in `src.models` folder, create a script called `null.py` ans define a class called `NullModel` with:

Attributes
    ----------
    target_type : str
        Type of ML problem (default regression)
    y : Numpy Array-like
        Target variable
    pred_value : Float
        Value to be used for prediction
    preds : Numpy Array
        Predicted array

Methods
-------
    fit(y)
        Store the input target variable and calculate the predicted value to be used based on the problem type
    predict(y)
        Generate the predictions
    fit_predict(y)
        Perform a fit followed by predict

In [ ]:
# Solution:
import pandas as pd
import numpy as np

class NullModel:
    """
    Class used as baseline model for both regression and classification
    ...

    Attributes
    ----------
    target_type : str
        Type of ML problem (default regression)
    y : Numpy Array-like
        Target variable
    pred_value : Float
        Value to be used for prediction
    preds : Numpy Array
        Predicted array

    Methods
    -------
    fit(y)
        Store the input target variable and calculate the predicted value to be used based on the problem type
    predict(y)
        Generate the predictions
    fit_predict(y)
        Perform a fit followed by predict
    """
        
    
    def __init__(self, target_type: str = "regression"):
        self.target_type = target_type
        self.y = None
        self.pred_value = None
        self.preds = None
        
    def fit(self, y):
        self.y = y
        if self.target_type == "regression":
            self.pred_value = y.mean()
        else:
            from scipy.stats import mode
            self.pred_value = mode(y)[0][0]
    
    def predict(self, y):
        self.preds = np.full((len(y), 1), self.pred_value)
        return self.preds
    
    def fit_predict(self, y):
        self.fit(y)
        return self.predict(self.y)

**[5.2]** Import `NullModel` from `src.models.null`

In [31]:
# Solution:
from src.models.null import NullModel

**[5.3]** Instantiate a `NullModel` with `target_type='classification'` and save it into a variable called `base_model`

In [32]:
# Solution:
base_model = NullModel(target_type="classification")

**[5.4]** Make a prediction using `fit_predict()` and save the results in a variable called `y_base`

In [33]:
# Solution:
y_base = base_model.fit_predict(y_train)

**[5.5]** In the `src/models/performance.py` file, create a function called `print_class_perf` with the following logics:
- input parameters: predicted target (`y_preds`), actual target (`y_actuals`) and name of the set (`set_name`)
- logics: Print the Accuracy and F1 score for the provided data
- output parameters: None

In [ ]:
def print_class_perf(y_preds, y_actuals, set_name=None, average='binary'):
    """Print the Accuracy and F1 score for the provided data

    Parameters
    ----------
    y_preds : Numpy Array
        Predicted target
    y_actuals : Numpy Array
        Actual target
    set_name : str
        Name of the set to be printed
    average : str
        Parameter  for F1-score averaging
    Returns
    -------
    """
    from sklearn.metrics import accuracy_score
    from sklearn.metrics import f1_score

    print(f"Accuracy {set_name}: {accuracy_score(y_actuals, y_preds)}")
    print(f"F1 {set_name}: {f1_score(y_actuals, y_preds, average=average)}")

**[5.6]** Display the Accuracy and F1 scores of this baseline model on the training set

In [34]:
from src.models.performance import print_class_perf

print_class_perf(y_preds=y_base, y_actuals=y_train, set_name='Training', average='weighted')

Accuracy Training: 0.34539024475646907
F1 Training: 0.17733802015864514